{% extends '../base_shop.html' %}

{% load static %}

{% block content %}
     <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li>
                <a href="{% url 'shop:product_list' %}">All</a>
            </li>
            {% for c in categories %}
            <li {% if c.name == product.category %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="main" class="product-detail">
        <h1>{{ product.name }} </h1>
        <div class="product-detail">
            <a href="{{ product.get_absolute_url }}">
                <image src="{% if product.image %}
                                {{ product.image.url }}
                             {% else %}
                                {% static 'images/no_image.png' %}
                             {% endif %}">
                </image>
            </a>
            <h2>{{ product.name }}</h2><br>
            <p> {{ product.description|linebreaks }} </p>
            <p class="price"> ${{ product.price }}</p>
        </div>
        <form method="post" action="{% url 'cart:cart_add' product.id %}">
            {% csrf_token %}
            <button type="submit">Add to Cart</button>
        </form>
    </div>

{% endblock %}